RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-l
RewriteBase /MyP1/public/
ErrorDocument 404 "<h1>ERROR</h1>"
RewriteRule ^ index.php [QSA,L]