RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-l
RewriteBase /myp1/adminController/
ErrorDocument 404 "<h1>ERROR</h1>"
RewriteRule ^ index.php [QSA,L]